{% extends "bootstrap/base.html" %}
{% block title %}Avaliação contínua: Aula 060.C{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Avaliação contínua: <b>Aula 060.C</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('index') }}">Home</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Olá, {{ name if name else 'Stranger' }}!</h1>
  <p>Prazer em conhecê-lo!</p>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }} 
      {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.role.label }}
      {{ form.role(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-default") }}
    </div>
  </form>

  <h3>Relação de usuários cadastrados</h3>
  <p>Quantidade: {{ users|length }}</p>
  <table class="table">
    <tr><th>Nome do usuário</th><th>Função</th></tr>
    {% for u in users %}
      <tr><td>{{ u.username }}</td><td>{{ u.role.name }}</td></tr>
    {% endfor %}
  </table>

  <h3>Relação de funções cadastradas</h3>
  <p>Quantidade: {{ roles|length }}</p>
  <table class="table">
    <tr><th>Funções</th><th>Usuários</th></tr>
    {% for r in roles %}
      <tr>
        <td>{{ r.name }}</td>
        <td>
          <ol>
          {% for u in r.users %}
            <li>{{ u.username }}</li>
          {% endfor %}
          </ol>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
